.App{
  text-align: center;
  margin: auto;
  max-width: 560px;
  padding: 0 20px;
}



.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

@media screen and (max-width: 560px) {
  .wrapper{
    justify-content: center;
  }
  .drop_down{
    padding-bottom: 20px !important;
  }
}